{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">

        <div class="home">
            {% for gallery in galleries %}


                <div class="gallery card">

                    <a class="gallery__link" href="{{ url('gallery.single-gallery', {id: gallery.id}) }}">
                        <img src="{{ gallery.images.first|getImageUrl }}" alt="{{ gallery.name }}"
                             class="gallery__leading-image card-img-top">
                    </a>

                    <div class="card-body">
                        <h1 class="card-text gallery__name">
                            {{ gallery.name }}
                        </h1>

                        <div class="card-text gallery__images-count">
                            {{ gallery.images.count }} images
                        </div>

                        <div class="card-text gallery__user">
                            by {{ gallery.user.email }}
                        </div>


                    </div>

                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}